<mat-card *ngIf="campaign">
  <mat-card-header>
    <mat-card-title>{{ campaign.name }} {{ campaign.seller.companyName }} {{ campaign.seller.name }} {{ campaign.seller.lastName }}</mat-card-title>
    <mat-card-subtitle>{{ campaign.status }} {{ campaign.tags }} {{ campaign.radius }} {{ campaign.bidAmount }} {{ campaign.town }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button (click)="editItemEvent.emit(campaign.id)" mat-button>Edit</button>
    <button (click)="removeItemEvent.emit(campaign.id)" mat-button>Delete</button>
  </mat-card-actions>
</mat-card>
